[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
graphene = "*"
flask-graphql = "*"
sqlalchemy = "*"
graphene-sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
pyjwt = "*"
flask-graphql-auth = "*"
graphene-file-upload = "*"

[dev-packages]

[requires]
python_version = "3.9"
